venv/
__pycache__/
IA/img/
IA/img_mark/
IA/img_merged/
IA/img_tile/
mask_image_final.tif
imagem_final_montada.tif
imagem_final_cortada_nuvem_montada.png
imagem_final_cortada_nuvem_montada.tiff
imagem_final_cortada_sem_nuvem.tiff
imagem_PNG_montada.png
imagem_final_cortada_sem_nuvem.png
mask_image_PNG.png