venv/
__pycache__/
IA/img/
IA/img_mark/
IA/img_merged/
IA/img_tile/
mask_image_final.tif
imagem_final_montada.tif
imagem_final_cortada_nuvem_montada.png
imagem_final_cortada_nuvem_montada.tiff
imagem_final_cortada_sem_nuvem.tiff
imagem_PNG_montada.png
imagem_final_cortada_sem_nuvem.png
mask_image_PNG.png
imagem_nuvem_montada.tiff
imagem_sem_nuvem_montada.tiff
imagem_sem_sombra_montada.tiff
imagem_sombra_montada.tiff
mask_cloud_PNG.png
mask_shadow_PNG.png
mask_shadow_PNG.png
nuvem_thumbnail.png
nuvem.png
sem_nuvem_thumbnail.png
sem_nuvem.png
sem_sombra_thumbnail.png
sem_sombra.png
sombra.png
sombra_thumbnail.png